body {
  margin: 0em;
  background-image: url(https://cdn.glitch.global/5ac3bfdb-b900-459c-a5a1-cdf8e7aa4c5f/rsz_2xavier-albert-highresscreenshot00001-copier_1.jpg?v=1657569106567);
  background-size: cover;
  background-position: center;
  font-family: "Cinzel", serif;
  background-color: black;
}

.meniu {
  background-color: black;
}

li:hover {
  background-color: black;
}

h1 {
  color: #000000;
}

.illustration:active {
  transform: translateY(5px);
}

.dipped {
  transform: translateY(5px);
}

h3 {
  color: #000000;
}

h4 {
  color: #000000;
}

h5 {
  color: #000000;
}

h6 {
  color: #000000;
}

span {
  color: #f00000;
}

p {
  color: #000000;
}

a {
  color: #ffffff;
}

.cover {
  height: 401px;
  background-image: url(https://cdn.glitch.global/5ac3bfdb-b900-459c-a5a1-cdf8e7aa4c5f/85ecfbd2-6f58-4529-88e3-c29938af4467.spaceX-08.jpg?v=1657682659854);
  color: 0;
  background-size: cover;
  background-position: center;
}

.card {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 199px;
  border-radius: 10px;
  backdrop-filter: blur (14px);
  background-color: rgba(225, 225, 255, 0.2);
  padding: 10px;
}
.card1 {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 325px;
  border-radius: 10px;
  backdrop-filter: blur (14px);
  background-color: rgba(225, 225, 255, 0.2);
  padding: 10px;
}


.card-text {
  min-height: 14rem;
}

.iframe {
  color: #a9a9a9;
}


p#p1 {
    color: #191970;
    font-weight: bold
}

p#p2 {
    color: #191970;
    font-weight: bold
}

p#p3 {
    color: #191970;
    font-weight: bold
}
